@media (min-width:320px) and (max-width:768px) {


    /* 헤더 */
    .logo_gray{
        display: none;
    }
    .logo {
        margin: 13px 0px 0px 3.9063vw;
    }

    .top_menu {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }



    .right_menu {
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 30px;
    }

    .menu_icon {
        display: none;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }

    /* 메뉴탭 클릭했을때 메뉴탭 나오게하기 */
    .main_menu_container li {
        display: none;
    }
    .right_menu {
        height: 90px;
    }
    .three_bar{
        display: flex;
        font-size: 35px;
    }



    /* 클릭메뉴바 */


    #menuToggle {
        display: block;
        position: relative;
        top: 0px;

        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a {
        text-decoration: none;
        color: #2f2f2f;

        transition: color 0.3s ease;
    }

    #menuToggle a:hover {
        color: #286BE1;
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0;
        z-index: 2;

        -webkit-touch-callout: none;
    }

    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #fff;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }


    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #2f2f2f;
    }


    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }


    #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }


    #menu {
        position: absolute;
        width: 110vw;
        height: 950px;
        margin: -90px 0 0 -95vw;
        padding: 50px;
        padding-top: 220px;
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(30px);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;

        transform-origin: 0% 0%;
        transform: translate(100%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu li {
        padding: 10px 0;
        font-size: 36px;
        font-weight: bolder;
        margin-top: 30px;
        text-align: center;
    }

    #menuToggle input:checked~ul {
        transform: none;
    }





    /* 사이드바 */
    .guide_map_icon {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 9;
        cursor: pointer;
    }



    /* 풀페이지 전체 */
    /*
    #main_fullPage{
        overflow: auto;
    }
    */
    .main_section {
        width: 100%;
        height: 100vh;
        scroll-snap-align: center;
        scroll-snap-stop: always;
    }

    .full1 {
        position: relative;
        width: 100%;
        height: 100vh;
        /* height: 140vh; */
        scroll-snap-align: end;
        scroll-snap-stop: always;

    }

    .full2,
    .full4 {
        background-color: #f7f7f7;
        display: grid;
        grid-template-rows: 300px 1fr;
        justify-content: center;
    }

    .full3 {
        background-color: #EEF5FB;
        display: grid;
        grid-template-rows: 300px 1fr;
        justify-content: center;
    }



    .main_title {
        line-height: 40px;
        font-size: 40px;
        font-weight: 900;
        color: #286BE1;

        /* 원래 benefit 등 각 각 따로 줌 */
        text-align: start;
        margin-bottom: 75px;
        pointer-events: none;
    }

    .main_All {
        pointer-events: none;
        font-size: 15px;
        color: #2f2f2f;
        margin-bottom: 5px;
    }
    /* 공용
    .main_section_top{
        display: grid;
        grid-template-columns: 19.1146vw 52.0833vw 104px 23.3854vw;
    }
    */
    .main_section_top{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 79.4271vw;
        height: 300px;
        margin: 0 auto;
    }


    .main_section_bottom {
        margin: 0 auto;
    }


    /* 할인혜택 페이지 */
    /*
    .benefit_title_total {
        display: grid;
        grid-template-columns: 14.9414vw 45.9961vw 24.4141vw 14.6484vw;
    }
*/
    /* 153 471 250 150 */

    .benefit2 {
        text-align: start;
        width: 19.5313vw;
    }

    .benefit_content_total {
        width: 66.4063vw;
        min-width: 410px;
        height: 66.4063vw;
        min-height: 410px;
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
    }

    .benefit_content_total div:nth-child(n+5) {
        display: none;
    }

    .benefit3 {
        width: 32.5521vw;
        min-width: 200px;
        min-height: 200px;
        height: 32.5521vw;
        background-color: #fff;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .benefit_text {
        display: none;
    }

    .benefit3:hover {
        background-color: #286BE1;
        transition-duration: 0.8s;
    }

    .benefit3:hover img {
        display: none;
    }

    .benefit3:hover .benefit_text {
        display: inline-block;
        font-size: 22px;
        font-weight: 500;
        color: #fff;
        transition-duration: 0.3s;
    }

    .benefit_text p {
        font-size: 16px;
        font-weight: 400;
    }



    /* 호버했을때 카드 뒤집기 */

    .benefit_flip {
        perspective: 1100px;
    }

    .benefit3 {

        position: relative;
        transition: .4s;
        transform-style: preserve-3d;
    }

    .benefit_front,
    .benefit_text {
        position: absolute;
        backface-visibility: hidden;
    }


    /* 뒷면은 사전에 미리 뒤집기 */
    .benefit_text {
        transform: rotateY(180deg);
    }

    /* 호버 시 뒤집기 */
    .benefit_flip:hover .benefit3 {
        transform: rotateY(180deg);
    }


    /* 베스트 어트랙션 페이지 */
    /*
    .attraction_title_total {
        display: grid;
        grid-template-columns: 14.9414vw 55.7617vw 22.4609vw 6.8359vw;
    }

    /*250 50*/
    .attraction2 {
        text-align: end;
        width: 170px;
    }

    .attraction_content_total {
        display: grid;
        grid-template-columns: 48.1771vw 35.1563vw;
        grid-template-rows: 515px;
        justify-items: center;
        align-items: center;
    }

    .main_attraction_small {
        width: 50.7813vw;
        height: 515px;
        display: grid;
        grid-template-columns: 32.5521vw;
        grid-template-rows: 250px;
        align-content: space-between;
        justify-content: center;
    }

    .main_attraction_small div:nth-child(n+3) {
        display: none;
    }

    .main_attraction_big {
        width: 45.5729vw;
        height: 515px;
        border-radius: 20px;
        background-image: url(img/web/호버안내.png);

    }

    .att_b1 {
        width: 45.5729vw;

        height: 515px;
        border-radius: 20px;

        color: #fff;
        text-align: center;
        font-size: 20px;
        position: relative;
        padding-top: 120px;
        background-position: center;
    }

    .att_s {
        cursor: pointer;
    }

    .att_s1 {
        width: 32.5521vw;
        min-width: 190px;
        height: 250px;
        background-image: url(img/web/어트_해리포터\ 앤드\ 더\ 포비든\ 저니.png);
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        transition: 0.5s;
    }

    .att_s2 {
        width: 32.5521vw;
        min-width: 190px;
        height: 250px;
        background-image: url(img/web/어트_쥬라기월드\ 더\ 라이드.png);
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        transition: 0.5s;
    }

    .att_s3 {
        width: 250px;
        height: 250px;
        background-image: url(img/web/어트_\ 미니언\ 메이헴.png);
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        transition: 0.5s;
    }

    .att_s4 {
        width: 250px;
        height: 250px;
        background-image: url(img/web/어트_프리즈\ 레이\ 슬라이더.png);
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        transition: 0.5s;
    }

    .att_s5 {
        width: 250px;
        height: 250px;
        background-image: url(img/web/어트_마리오\ 카트\ 쿠파의\ 도전장.png);
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        transition: 0.5s;
    }

    .att_s6 {
        width: 250px;
        height: 250px;
        background-image: url(img/web/어트_쥬라기월드\ 더\ 라이드.png);
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        transition: 0.5s;
    }


    /* 호버했을때 텍스트 */

    .att_title {
        font-size: 23px;
        font-weight: 800;
        text-align: center;
        color: #2f2f2f;
        margin-top: 60px;
        line-height: 33px;
        height: 80px;

    }

    .att_content {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: #2f2f2f;
        line-height: 20px;


    }

    .d-none {
        display: none;
    }


    /*퍼레이드 페이지*/
/*
    .parade_title_total {
        display: grid;
        grid-template-columns: 14.9414vw 45.9961vw 24.4141vw 14.6484vw;
    }
*/
    .parade2 {
        text-align: end;
        width: 170px;
    }

    .parade_content_total {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 62.5000vw 150px 1fr;
        height: 650px;
        align-items: center;
    }

    .blank2 {
        background-color: #f7f7f7;
        height: 100px;
    }

    /* 푸터 */
    .footer {
        color: #fff;
        width: 100%;
        height: 280px;
        background-color: #05091b;
    }

    .footer_section_total {
        width: 87.8906vw;
        height: 250px;

        margin: 0px auto;

        position: relative;
        top: 30px;
        display: grid;
        grid-template-rows: 2fr 1fr;
        justify-items: center;
    }

    .footer_content_top {
        display: flex;
        align-items: center;
    }

    .footer_US_logo {
        display: flex;
        align-items: center;
    }

    .footer_US_logo img {
        height: 28px;
        margin-right: 2px;
    }

    .footer_US_title {
        font-size: 30px;
        font-weight: 800;
    }

    .footer_content_right div i {
        display: flex;
        justify-content: space-between;
        margin: 0 10px;
    }

    .footer_sns {
        display: inline-block;
    }

    .footer_sns>i {
        font-size: 24px;
        margin-top: 31px;
    }

    .footer_content_left {
        display: grid;
        justify-items: center;
    }

    .footer_use_content,
    .footer_use_import {
        margin-bottom: 5px;
    }

    .footer_use_content span,
    .footer_copyright {
        font-size: 12px;
        margin-right: 1.6927vw;
    }

    .footer_use_import {
        color: #286BE1;
        font-weight: bold;
    }

    .footer_use_content,
    .footer_content_right {
        cursor: pointer;
    }

    .footer_content_bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

/* 퍼레이드 호버했을떄 */
.main_parade_item{
    position: relative;
}
.parade_text_box{
    width: 45.5729vw;
    height: 22.1354vw;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    z-index: 100;
    position: absolute;
    top: 40%;
    left: 6%;
    
}
      
.parade_text_title{
    font-size: 3.9063vw;
    font-weight: bolder;
    color: #424242;
}
.parade_text_content{
    font-size: 2.6042vw;
    font-weight: 400;
    color: #424242;
    margin-top: 5px;
}
.parade_text_time{
    font-size: 18px;
    font-weight: 600;
    color: #424242;
    width: 75px;
    height: 35px;
    border: 2px solid #424242;
    border-radius: 50px;
    line-height: 30px;
    margin-top: 25px;
}


.d-none div{
    display: none;
}

.parade_text_end{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-top: 28.9063vw;
    text-align: center;
}


/* 퍼레이드 실시간 시간 */



    /* 이용권티켓 */
    .ticket__img {
        position: absolute;

        bottom: -375px;
        width: 100%;
        height: 100%;
        background-image: url('./img/web/이용권티켓_웹\,탭.png');

        background-repeat: no-repeat;
        background-position: bottom center;
        z-index: 10;
        transition: 5s;
        display: none;
    }

    /* 이용권티켓 컨텐츠 */

    .ticket_total_content {
        display: grid;
        grid-template-columns: 445px 215px;
        justify-content: center;

        z-index: 99;
        margin-top: 600px;

    }

    .ticket_left {
        display: grid;
        grid-template-rows: 100px 100px 100px;
        justify-content: start;
        justify-items: start;
    }

    .fast_buy_title {
        margin-top: 20px;
        font-size: 30px;
        color: #444545;
        font-weight: 900;
    }

    .fast_buy_content {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .fast_buy_content_1,
    .fast_buy_content_2 {
        display: grid;
        grid-template-columns: 150px 150px 145px;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .fast_buy_coc {
        display: flex;
    }

    .fast_buy_coc div {
        margin-right: 10px;
        color: #444545;
        font-size: 17px;
        vertical-align: middle;
    }

    .fast_buy_coc .buy_icon {
        color: #286BE1;
        font-size: 20px;
        vertical-align: middle;

    }

    .fast_buy_coc .arrow_small {
        color: #444545;
        font-size: 14px;
    }

    .ticket_buy_btn {
        font-size: 17px;
        width: 100px;
        height: 40px;
        border-radius: 50px;
        background-color: #286BE1;
        color: #fff;
        text-align: center;
        line-height: 40px;
        margin-top: 10px;
        margin-left: 315px;
        cursor: pointer;
    }

    #ticket_now_time {
        z-index: 100;
        color: #444545;
        font-size: 30px;
        font-weight: 900;
        text-align: center;
        position: relative;
        height: 250px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 55px;
        white-space: normal;
    }

    /* 빠른구매 클릭했을때 */

    .choice_none {
        display: none;
        cursor: pointer;
    }

    .ticket_buy_choice a {
        color: #444545;
        text-decoration: none;
    }

    .ticket_buy_choice {
        cursor: pointer;
    }


    /* 성환초이 건듦 */
    .csh__black {
        color: #2f2f2f !important;
    }

    .earth_video {
        min-width: 100%;
        position: fixed;
        top: 0;
        z-index: -999;
    }

    /* 애니메이션 - 펄스 */
    @-webkit-keyframes pulse {
        from {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

        50% {
            -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
        }

        to {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }

    @keyframes pulse {
        from {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

        50% {
            -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
        }

        to {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }

    .animate__pulse {
        -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

    .att_mouse_account {
        animation-iteration-count: infinite;
        text-shadow: 0px 0px 500px #fff;
        margin: 0 30px;
    }

    /* 메인 영상 */
    .full_video {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none
    }

    .full_video iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100vw;
        height: 56.25vw;
        min-height: 100vh;
        min-width: 177.77vh;
        transform: translate(-50%, -50%)
    }

    .usk_title_name {
        font-size: 13.0208vw;
        color: #fff;
        font-weight: bolder;
        z-index: 10;
        position: absolute;
        left: 5%;
        top: 38%;
        text-align: center;
        word-wrap: break-word;
        line-height: 15.6250vw;
    }

    .blue_effect {
        width: 100vw;
        height: 100vh;
        z-index: 100px;
        position: absolute;
    }






}