:root {
    --color-primary: #FFDD4E;
    --color-secondary: #E1382F;
    --color-tertiary: #0A42A2;
    --font-primary: 'Pretendard', sans-serif;
    --font-secondary: 'quicksand', 'Pretendard', sans-serif;
}
