/* tablet mode */
@media screen and (max-width:1100px){ 
    .text_box{ 
        display:none;
    }
}
    





@media screen and (max-width: 1024px){ 
    .main_tema_body_cotainer{ 
        grid-template-columns: repeat(2,minmax(1px,auto));
    }
    .img_DefaultMode{ 
        display:none;
    }
    .main_tema_body_cardList_noneMode{ 
        display: block;
    }
    .tema__img_Circle{ 
        grid-template-columns: repeat(4,minmax(1px,auto));
        gap: 2rem;
    }
    .tema__Circle_comment{ 
        margin-right:0;
    }
    .tema__imgCircle_size{ 
        display:block;
    }
    .tema__imgCircle_Default{ 
        display: none;
    }
    .tema_imgCircle_Back_color{ 
        display: block;
    }
    .tema_imgCircle_Back_Bigcolor{ 
        display: none;
    }
   
    
}

/* mobilemode */

@media screen and (max-width: 768px){ 
    .main_tema_body_cotainer{ 
        grid-template-columns: repeat(1,minmax(1px,auto));
    }
    .main_tema_body_cardList_MobileMode{ 
        display:block;
        
    }
    .main_tema_body_cardList_noneMode{ 
        display: none;
        
    }
    .tema__img_Circle{ 
        grid-template-columns: repeat(2,minmax(1px,auto));
        gap:5rem;
    }
    .tema__Circle_comment{ 
        margin-right:0;
    }
}